html{
	width: 100%;
	height: 100%;
}
body{
	left:0px;
	right:10px;
	top: 10px;
	bottom: 10px;
	position: absolute; 
}
div{
}
.main_window{
	width: 100%;
	height: 100%;
	position: absolute;
}
#main_window_up{
	width: 100%;
	height: 90%;
	position: absolute;
}
#main_window_up_left_bar{
	float: left;
	width: 60px;
	height: 100%;
	background-color: blanchedalmond;
}
.left_bar_button{
	margin-top: 10px;
	margin-left: 5px;
}
.left_bar_button_img{
	opacity:1;
	width: 30px;
	height: 30px;
}
#main_window_up_mid_bar{
	float: left;
	left: 60px;
	height: 100%;
	min-width: 220px;
	background-color: #ccc;
}
#main_window_up_mid_bar_origin{
	float: left;
	left:60px;
	width:100%;
	height: 100%;
	background-color:rgb(163, 151, 175);
}
#main_window_up_mid_bar_join{
	float: left;
	left:60px;
	width:100%;
	height: 100%;
	background-color:rgb(163, 151, 175);
	display: none;
}
ul
{
	list-style-type:none;
	margin:0;
	padding:0;
	width: 100%;
	padding-bottom: 5px;
}
/* li{
	width: 100%;
	padding-bottom: 5px;
} */
a:link,a:visited
{
	display:block;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	width:100%;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}
a:hover,a:active
{
	background-color:#7A991A;
}
#main_window_up_content{
	float: left;
	left: 280px;
	right:0px;
	position: absolute;
	height: 100%;
	background-color:aqua;
}
#communication_box{
	background-color:#FFFFFF;
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
#communication_title{
	text-align: center;
	height: 20px;
	width: 100%;
	background-color: antiquewhite;
}
#communication_text{
	position: absolute;
	width: 100%;
	height: 70%;
	background-color: beige;
	overflow-y: scroll;
	overflow-x: auto;
}

#communication_send_box{
	position: absolute;
	top:70%;
	width: 99%;
	height: 29%;
	background-color: rgb(207, 104, 30);
}
#send_selector{
	width: 100%;
	background-color: antiquewhite;
	position: relative;
	height: 25px;
}
#summit_text{
	position: absolute;
	width: 70px;
	top:0px;
	right: 5px;
	background-color: darksalmon;
}
textarea{
	top:25px;
	bottom: 0px;
	position: absolute;
	width: 100%;
	overflow: auto;
	word-break: break-all;
	background-color: antiquewhite;
}
#main_window_down{
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 20px;
	border:1px solid #ccc
}

#test{
	position: relative;
	left: 100px;
	top: 100px;
	background-color:gold;
	height: 100px;
	width: 50px;
}